
  h1{
    position:absolute;
    left:40%;
    transform:translate(-50%,-50%)
  }
  span{
    position:absolute;
    top:10%;
    left:40%;
    transform:translate(-50%,-50%)
  }



  .button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}