
body{
  background-color: lightblue;
  background-image: url("fundo3.jpg");
  background-repeat: no-repeat;
}  
h1{
    position:absolute;
    top:15%;
    left:40%;
    transform:translate(-50%,-50%)
  }
  span{
    position:absolute;
    top:40%;
    left:40%;
    transform:translate(-50%,-50%)
  }



  .button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}
