body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url('fundo3.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Playpen Sans', sans-serif;
  color: #fff;
  padding: 20px;
  background-color: rgba(0,0,0,0.5); /* Melhora o contraste do texto sobre a imagem de fundo */
}

.download-button {
  font-family: 'Playpen Sans', sans-serif;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
      font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 10px;
  }

  h1 {
      font-size: 18px;
  }

  .download-button {
      padding: 8px 16px;
      font-size: 14px;
  }
}

/* Estilos do Carrossel */
.carousel-container {
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}

.carousel-img {
  width: 100%;
  border-radius: 10px;
}

/* Botões de navegação */
.prevBtn, .nextBtn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

